<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Ng-Book App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.js"></script>
</head>
<body>
    <script type="text/javascript" src="./app.js"></script>
    <div ng-controller="MyController1">
        <h1> {{name}}</h1>
        <h1> {{clock.now}}</h1>
    </div>
    <div ng-controller="ClickControllers">
        <button ng-click="add(1)" class="button">Add</button>
        <!--<button ng-click="sub(1)" class="button alert">Substract</button>-->
        <a ng-click="sub(1)" class="button alert">Subtract</a>
        <h4>Counter : {{counter}}</h4>
    </div>
    <div ng-controller="WatchControllers">
        <input type="text" ng-model="expr" placeholder="Enter you expression">
        <h3>{{parsedValue}}</h3>
    </div>
</body>
</html>